# Topic: Decision Tree & Random Forest
# Name: R.Ramakrishna Raju
# Batch: 09012021

# Problem Statement: -

 A cloth manufacturing company is interested to know about the segment or attributes contributing to high sale. Approach - A decision tree & random forest model can be built with target variable 'Sales' (we will first convert it into categorical variable) & all other variables will be independent in the analysis.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing Dataset

In [2]:
df=pd.read_csv(r"F:\360\DT\Company_Data.csv")
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [3]:
# Check for missing values
df.isna().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

In [4]:
df['Sales']

0       9.50
1      11.22
2      10.06
3       7.40
4       4.15
       ...
395    12.57
396     6.14
397     7.41
398     5.94
399     9.71
Name: Sales, Length: 400, dtype: float64

# Importing LabelEncoder form Sklearn, to do label encoding for given columns

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [6]:
df['ShelveLoc']=le.fit_transform(df['ShelveLoc'])
df['Urban']=le.fit_transform(df['Urban'])
df['US']=le.fit_transform(df['US'])

In [7]:
predictors=df.drop(['Sales'],axis=1)
predictors

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,138,73,11,276,120,0,42,17,1,1
1,111,48,16,260,83,1,65,10,1,1
2,113,35,10,269,80,2,59,12,1,1
3,117,100,4,466,97,2,55,14,1,1
4,141,64,3,340,128,0,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,1,33,14,1,1
396,139,23,3,37,120,2,55,11,0,1
397,162,26,12,368,159,2,40,18,1,1
398,100,79,7,284,95,0,50,12,1,1
399,134,37,0,27,120,1,49,16,1,1

In [8]:
target=df.iloc[:,:1]
target

     Sales
0     9.50
1    11.22
2    10.06
3     7.40
4     4.15
..     ...
395  12.57
396   6.14
397   7.41
398   5.94
399   9.71

[400 rows x 1 columns]

# Splitiing The Data to train the model

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(predictors,target,train_size=0.8,random_state=0)

# Importing DecisionTreeRegressor from sklearn

Decision tree builds regression or classification models in the form of a tree structure. It breaks down a dataset into smaller and smaller subsets while at the same time an associated decision tree is incrementally developed. The final result is a tree with decision nodes and leaf nodes.

In [10]:
from sklearn.tree import DecisionTreeRegressor
clf=DecisionTreeRegressor()

In [11]:
clf.fit(x_train,y_train)

DecisionTreeRegressor()

In [12]:
y_pred1=clf.predict(x_test)
y_pred1

array([ 6.2 ,  8.39,  6.71,  5.12,  9.32,  4.99,  9.35,  4.81,  5.83,
        5.57,  6.56,  5.08,  4.53, 13.55,  2.67,  4.81,  9.46,  6.81,
        0.  ,  3.45,  6.62, 10.21,  7.8 ,  7.64,  5.52,  8.64,  2.93,
        4.2 ,  5.57,  6.98,  9.32,  8.68,  8.14,  3.02,  4.68,  8.64,
        6.98,  5.53,  6.14, 11.54,  6.23,  6.39,  4.81, 10.  ,  7.81,
        3.42,  9.  ,  8.39, 10.49,  8.03,  4.47, 10.49, 13.28,  8.64,
        3.9 ,  7.52,  5.17,  3.15, 10.49,  2.34,  6.87, 14.37,  6.15,
        7.49, 12.29,  5.94,  8.8 ,  8.55,  8.67,  8.75, 10.5 ,  5.35,
       10.62,  6.2 ,  8.47,  8.21, 11.96,  6.2 ,  5.97, 12.61])

# Testing the accuracy

In [13]:
from sklearn.metrics import r2_score
r2_score(y_pred1,y_test)

0.32208116137672416

# Importing RandomForestClassifier from sklearn

Random Forest Regression is a supervised learning algorithm that uses ensemble learning method for regression. ... A Random Forest operates by constructing several decision trees during training time and outputting the mean of the classes as the prediction of all the trees

In [14]:
from sklearn.ensemble import RandomForestRegressor

In [15]:
clf1=RandomForestRegressor()

In [16]:
clf1.fit(x_train,y_train)

<ipython-input-16-f9dfaf3d3c5a>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf1.fit(x_train,y_train)

RandomForestRegressor()

# Predicting the model

In [17]:
y_pred2=clf1.predict(x_test)
y_pred2

array([ 7.7164,  7.2591,  7.1197,  3.8439,  6.6553,  6.5044,  8.3212,
        6.1016,  5.1828,  5.9782,  6.5807,  5.1615,  5.2582, 11.9931,
        4.3902,  6.3229, 11.5497,  7.339 ,  4.6833,  6.0285,  6.3945,
        8.4112,  8.3059,  8.6994,  6.1957,  8.75  ,  4.4213,  5.1255,
        6.9306,  7.1302,  7.6063,  9.7241,  8.2703,  6.4721,  5.4453,
        9.3764,  6.852 ,  6.0733,  6.1734,  9.4821,  7.3825,  9.2525,
        6.3201, 10.8747,  5.2286,  4.9041,  7.4993,  6.8863,  9.5906,
        8.8998,  4.3582,  8.7986, 11.4689,  8.6916,  4.7446,  9.6678,
        5.6981,  6.2351,  9.0893,  4.1619,  7.0726, 12.6816,  5.5279,
        5.9544,  8.015 ,  7.2648,  8.3867,  7.8801,  8.2658,  6.9532,
       10.6133,  7.5829, 10.6773,  6.4957,  7.3897,  9.2962,  8.4597,
       10.0511,  8.7713, 11.8735])

# Accuracy

In [18]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred2)

0.6825668686385871